<nz-layout *ngIf="isLoggedIn" class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="javascript:viod(0)">
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
        <h1>ML Project</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Demo Page" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/job/create">Create Job</a>
          </li>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/job">Job List</a>
          </li>
          <!-- <li nz-menu-item nzMatchRouter>
            <a>Workplace</a>
          </li> -->
        </ul>
      </li>
      <!-- <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>
        </ul>
      </li> -->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <button style="float: right;margin-top: 14px;margin-right: 26px;" 
        nz-button nzType="primary" [nzSize]="size" nzShape="circle" (click)="logout()">
          <i nz-icon nzType="poweroff" nzTheme="outline"></i>
        </button>
      </div>
    </nz-header>    
    <nz-content>      
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>



<nz-layout *ngIf="!isLoggedIn" class="app-layout">
  <div class="login-layout">
    <h1 nz-typography style="margin: 20px;">[Logo] Project Name</h1>
    <div nz-row nzJustify="space-around" nzAlign="middle">
      <div nz-col style="width: 300px; margin: 70px auto; ">
  
  
        <nz-tabset>
          <nz-tab nzTitle="Log In">
            <login-form></login-form>
          </nz-tab>
          <nz-tab nzTitle="Sign Up">
            <registration-form></registration-form>
          </nz-tab>
        </nz-tabset>
        
      </div>
    </div>
  </div>
  
</nz-layout>


