<nz-table #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Job No:</th>
        <th>Invoice Type:</th>
        <th>Due Date:</th>
        <th>Amount</th>
        <th>Priority</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.no }}</td>
        <td>{{ data.invoice }}</td>
        <td>{{ data.date }}</td>
        <td>{{ data.amount }}</td>
        <td>{{ data.pr }}</td>
        <td>
          <nz-divider nzType="vertical"></nz-divider>
        </td>
      </tr>
    </tbody>
</nz-table>